.noPointer {
  pointer-events: none;
}

.store-home {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  /*#ifndef MP*/
  background: left top/750rpx 390rpx no-repeat fixed;
  /*#endif*/
  /*#ifdef MP*/
  background: left top/750rpx 450rpx no-repeat fixed;
  /*#endif*/
  overflow: hidden;
  touch-action: none;
  &::before {
    content: "";
    width: 100%;
    background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #f5f5f5 100%);
    position: absolute;
    /*#ifdef H5*/
    height: 132rpx;
    top: 265rpx;
    /*#endif*/
    /*#ifndef H5*/
    height: 178rpx;
    top: 280rpx;
    /*#endif*/
    left: 0;
    z-index: 0;
  }
}
.tabbar-placeholder {
  height: calc(var(--tabbar-height) + 30rpx);
  width: 100%;
}

.main {
  height: 100%;
  min-height: 0rpx;
  box-sizing: border-box;
  padding: 0;
}

.p-b-75 {
  padding-bottom: 150rpx;
}

.main-list-wrapper {
  flex: 1;
  position: relative;
  .main-list-content {
    position: absolute;
    inset: 0;
  }
}
