@charset "UTF-8";
* {scrollbar-color: #e5e5e5 #f7f7f9;scrollbar-width: thin;}
html {margin: 0 auto;max-width: 1200px;}
body {overflow-x: hidden;background:#f5f5f5;}
.font-color,.font-color-red {color:#fc4141!important}
.bg-color{background-color:#e93323!important}
.icon-color{color: #ff3c2b}
.cart-color {color: #ff3700 !important;border:1px solid #ff3700 !important}
.padding20{padding: 20rpx}
.pad20 {padding: 0 20rpx}
.padding30{padding: 30rpx}
.pad30{padding: 0 30rpx}
.mt20{margin-top: 20rpx;}
.mt-40{margin-top: -40rpx;}
.font28{font-size: 28rpx;}
.pull-left{float: left;}
.pull-right{float: right;}
.clearfix:after{content:'';display:block;height:0;clear:both}
.clearfix{zoom:1}
.pos-fixed{position: fixed;}
.w-100 {width: 100%;}
.line-through {text-decoration: line-through;}
.acea-row {display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-lines: multiple;
  -moz-box-lines:multiple;-o-box-lines:multiple;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.acea-row.row-middle {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center
}
.acea-row.row-top {
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start
}
.acea-row.row-bottom {
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end
}
.acea-row.row-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center
}
.acea-row.row-right {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end
}
.acea-row.row-left {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start
}
.acea-row.row-between {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}
.acea-row.row-around {
  justify-content: space-around;
  -webkit-justify-content: space-around
}
.acea-row.row-column-around {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
  -webkit-justify-content: space-around
}
.acea-row.row-column {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.acea-row.row-column-between {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}
.acea-row.row-center-wrapper {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center
}
.acea-row.row-between-wrapper {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}
*,view{box-sizing:border-box;}
page{font-size: 28rpx;background-color:#f5f5f5;color: #282828;}
body,html{height:unset}
button{padding:0;margin:0;line-height:normal;background-color:#fff}
button::after {border:0}
radio .wx-radio-input {border-radius:50%;width:38rpx;height:38rpx}
radio .uni-radio-input{border-radius:50%;width:38rpx;height:38rpx}
::v-deep radio .uni-radio-input.uni-radio-input-checked,::v-deep radio .wx-radio-input.wx-radio-input-checked{border: 1px solid var(--view-theme)!important;background-color: var(--view-theme)!important;}
checkbox .wx-checkbox-input{width:38rpx;height:38rpx}
checkbox .wx-checkbox-input.wx-checkbox-input-checked::before{color: #fff!important;}
checkbox .uni-checkbox-input{width: 38rpx;height: 38rpx}
::v-deep checkbox .uni-checkbox-input.uni-checkbox-input-checked,
::v-deep checkbox .wx-checkbox-input.wx-checkbox-input-checked{border: 1px solid var(--view-theme)!important;background-color: var(--view-theme)!important;color:#fff!important;}
checkbox .uni-checkbox-input.uni-checkbox-input-checked::before{font-size: 35rpx}
.line1{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.line2{word-break:break-all;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;white-space:pre-wrap;text-overflow:ellipsis;}
.mask{position:fixed;top: 0;left:0;right:0;bottom:0;background-color:#000;opacity:.5;z-index:10}
@keyframes load {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}
@-webkit-keyframes load {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}
