/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "iconfont-next"; /* Project id 3861873 */
  src:
    url("https://at.alicdn.com/t/c/font_3861873_2e3rze8ysnk.woff2?t=1747963655657") format("woff2"),
    url("https://at.alicdn.com/t/c/font_3861873_2e3rze8ysnk.woff?t=1747963655657") format("woff"),
    url("https://at.alicdn.com/t/c/font_3861873_2e3rze8ysnk.ttf?t=1747963655657") format("truetype");
}

.iconfont-next {
  font-family: "iconfont-next";
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingdan-xuanzhong:before {
  content: "\e84c";
}
.icon-jiedan-xuanzhong:before {
  content: "\e84d";
}
.icon-jiedan-weixuanzhong:before {
  content: "\e84e";
}
.icon-dingdan-weixuanzhong:before {
  content: "\e84f";
}
